.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
label{
    min-width: 150px;
    font-size: 18px;
}

.jumbotron{
    height: 90vh !important;
}
.custom-div{
    padding: 20px;
    font-size: 22px;
}